body {
  margin: 0;
 
}

button, input[type="submit"] {
  background: rgb(171, 171, 255);
  font-weight: bold;
}

.container {
  padding: 5rem;
  width: 100vw;
  height: 100vh;
  
}

.add-todo {

width: 740px;
height: 500px;
}

.add-todo form {
  display: flex;
  width: 100%;
  border: 2px solid grey;
  padding: 1rem;
  gap: 6px;
}

.table-container {
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

table th {
  border-bottom: 1px solid rgb(187, 187, 187);
}

table td {
  border-bottom: 1px solid rgb(236, 236, 236);
}


